<%- include('partials/header.ejs') -%>

<form action="/failure" method="post" class="d-flex flex-column justify-content-center align-items-center">
    <h2 class="display-2">Oops! Something went wrong. <br> Please enter a valid city name.</h2><br><br>
    <button type="submit" class="btn btn-warning">Try Again</button>
</form>

<%- include('partials/footer.ejs') -%>