<%- include('partials/header.ejs') -%>

<form action="/failure" method="post" class="d-flex flex-column justify-content-center align-items-center">
    <h3 class="display-3">Oops! Something went wrong. <br> Please enter a valid city name.</h3><br><br>
    <button type="submit" class="btn btn-info">Try Again</button>
</form>

<%- include('partials/footer.ejs') -%>