<%- include('partials/header.ejs') -%>

<div class="main d-flex">
  <h1>The Weather App</h1><br />
  <form action="/" method="post" class="text-center">
    <label for="form-control" class="form-label">Search City:</label>
    <input
      type="text"
      placeholder="Enter city name here"
      class="form-control text-center"
      name="cityName"
    /><br /><br />
    <button type="submit" class="btn">Search</button>
  </form>
</div>

<%- include('partials/footer.ejs') -%>
