body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: #DED4DE; */
  background-size: cover;
  background-image: url("https://images.unsplash.com/photo-1521729839347-131a32f9abcb?q=80&w=1797&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-repeat: no-repeat;
}
.container {
  height: 40vh;
  width: 30vw;
  background-color: rgba(245, 224, 250, 0.899);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1), 0 10px 20px rgba(0, 0, 0, 0.1);
}
form {
  width: 80%;
}
label {
  font-size: 1.5rem;
}
@media (max-width: 1200px) {
  .container {
    width: 40vw;
  }
}
@media (max-width: 786px) {
  .container {
    width: 50vw;
  }
}
@media (max-width: 576px) {
  .container {
    width: 85vw;
  }
}
