body {
  height: 100vh;
  display: grid;
  place-items: center;
  background: url("https://images.unsplash.com/photo-1498050108023-c5249f4df085?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");    
}
.container {
  height: 40vh;
  width: 30vw;
  background-color: rgba(255, 225, 252, 0.899);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1), 0 10px 20px rgba(0, 0, 0, 0.1);
}
form{
  width: 80%;
}
label{
    font-size: 1.5rem;
}
@media (max-width: 1200px) {
  .container {
    width: 40vw;
  }
}
@media (max-width: 786px) {
  .container {
    width: 50vw;
  }
}
@media (max-width: 576px) {
  .container {
    width: 70vw;
  }
}